$red: #981817;
$blue: #2F5693;
$light-blue: #9CCAEB;

body {
	background-color: #F1F3F2;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	text-transform: uppercase;	
}

.sidebar {
	padding: 0;
}
.main {
	text-align: center;
}

.input {
	background-color: $blue;
	padding: 20px;
}
	.input__candidate {
		display: block;
		margin-bottom: 20px;
		font-family: Helvetica, sans-serif;
		width: 100%;
		padding: 10px;
	}
	.input__label {
		color: #fff;
		font-size: 1.2em;
		line-height: 1.3;
	}
	.input__submit {
		display: block;
		background-color: $red;
		color: #fff;
		text-decoration: none;
		padding: 0.5em;
		text-align: center;

		font-size: 1.4em;
		border-bottom: 3px solid darken($red, 15%);

		margin-bottom: 1em;

		&:hover, &:active, &:focus {
			color: #fff;
			text-decoration: none;
			background-color: darken($red, 5%);
		}
	}


.credits {
	color: #fff;
	font-family: Helvetica, sans-serif;
	text-transform: initial;
	padding-left: 0;
	list-style: none;
	text-align: center;

	background-color: darken($blue, 10%);
	padding: 10px 20px;
	li {
		margin-bottom: 0.8em;
		margin-top: 0.8em;
	}
	a {
		color: $light-blue;
	}
}


.tasks {
	position: relative;
	display: inline-block;
	text-align: left;
}

	.tasks__list {
		position: absolute;
		left: 26%;
		right: 22%;
		font-size: 2em;
		text-transform: uppercase;
		list-style: none;
		padding-left: 0;
		line-height: 1.2;
		letter-spacing: -0.01em;
	}


	.tasks__list--trump {
		top: 14%;
		.tasks__bullet {
			color: $red;
		}
	}
	.tasks__list--clinton {
		top: 62%;
		.tasks__bullet {
			color: $blue;
		}
	}

	.tasks__list-item {
		margin-bottom: 0.3em;
		position: relative;
	}
	.tasks__bullet {
		position: absolute;
		left: -15px;
	}


// modal-related styles
// overriding bootstrap where it's ugly
.modal-content {
	border-radius: 0;
}
.modal-body {
	padding: 0;
}
.modal-header {
	color: #fff;
	background-color: black;
}
.close {
	color: #fff;
	opacity: 1;
}
.lightbox__image {
	max-width: 100%;
}